<%- include('partials/header') %>
<h1>Register</h1>
<div>
  <form action="/users/create" method="post">
    <div>
      <label for="userName">Username</label>
      <input type="text" name="userName" id="userName" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="submit" value="Register" />
  </form>
</div>
