p {
  padding-left: 10px;
}
body {
  margin: 0px auto;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

th, td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav.li {
  display: flex;
}