<nav>
  <li><a href="/">Home</a></li>
  <% if (typeof(user.role) !== 'undefined' && user.role === 'Administrator') { %>
  <li><a href="/users">Users</a></li>
  <% } %>
  <% if (typeof(user.loggedIn) !== 'undefined' && user.loggedIn === true) { %>
  <% if (typeof(user.api_token) !== 'undefined' && user.api_token !== null) { %>
  <li><a href="/nodes">Nodes</a></li>
  <% } %>
  <li>
    <form action="login/logout" method="post">
      <input type="submit" name="Logout" value="Logout" />
    </form>
  </li>
  <% } else { %>
  <li><a href="/login">Login</a></li>
  <% } %>
  <% if (typeof(user.role) !== 'undefined' && user.role === 'Administrator') { %>
  <li><a href="/register">Add User</a></li>
  <% } %>
</nav>