<%- include('partials/header') %>
<h1>Register</h1>
<div>
  <form action="/users/create" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="submit" value="Register" />
  </form>
</div>